<!DOCTYPE html>

<html>
<head>
    <title>Callback</title>
</head>
<body>
    <div>
        <table class="table icon-red">
            <tbody>
                <tr>
                    <td>Name</td><td id="name"></td>
                </tr>
                <tr>
                    <td>School</td> <td id="school"></td>
                </tr>
                <tr>
                    <td>Major</td><td id="major"></td>
                </tr>
                <tr>
                    <td>Email</td> <td id="email"></td>
                </tr>
                <tr>
                    <td>Shirt Size</td> <td id="shirt"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
    <label class="" for='resume'>Resume&nbsp;&nbsp;</label>
    <input name="resume" id="resume" placeholder="http://"></input>
    <br>
    <label class="" for='github'>github&nbsp;&nbsp;</label>
    <input name="github" id="github" placeholder="http://github.com/"></input>
    </div>
    <div>
        <button onclick="postData()">Confirm</button>
    </div>
    <div id="result">

    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
    $(document).ready(function(){
        getData();
    });
        var postData = function postData(){

            var resume = $("#fileselect").val();
            var github = $("#github").val();
            addData({resume: resume, github: github});
        }

        var addData = function addData(data){
            var token = getUrlParameter("access_token");
            var strung = JSON.stringify({
                token:token,
                resume:data.resume,
                github:data.github
            })
            $.ajax({
                    type: "POST",
                    url: "/user",
                    data: strung,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        console.log(data);
                        $("#result").text(JSON.stringify(data));
                        //window.location.assign("/success");
                    }
            });
        }

        var getData = function getData() {
            var token = getUrlParameter('access_token');

            $.get("https://my.mlh.io/api/v1/user?access_token="+token, function(data) {
                var info = data.data;
                console.log(info);
                $('#name').text(info.first_name + ' '+info.last_name);
                $('#school').text(info.school.name);
                $('#major').text(info.major);
                $('#email').text(info.email);
                $('#shirt').text(info.shirt_size);
            });
        }

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.href.split("#")[1]),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
    </script>
</body>
</html>