<!DOCTYPE html>

<html>
<head>
    <title>Sign Up</title>
</head>
<body>

    <div style="margin-left:auto;margin-right:auto">
        <button onclick="toMlh()">Sign Up!</button>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        var APP_ID = "<%= APP_ID %>";
        var REDIRECT = "<%= REDIRECT %>";

        var toMlh = function() {
            window.location.assign("https://my.mlh.io/oauth/authorize?client_id="+APP_ID+"&redirect_uri="+REDIRECT+"&response_type=token");
        }
    </script>
</body>