<!DOCTYPE html>

<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s4 offset-s4">
                    <a onclick="toMlh()" class="waves-effect waves-light btn-large">Sign Up!</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        var APP_ID = "<%= APP_ID %>";
        var REDIRECT = "<%= REDIRECT %>";

        var toMlh = function() {
            window.location.assign("https://my.mlh.io/oauth/authorize?client_id="+APP_ID+"&redirect_uri="+REDIRECT+"&response_type=token");
        }
    </script>
</body>